body
{
    display: grid;
    grid-template-columns: clamp(230px, 20vw, 280px) 1fr;
}
.container > .main
{
    padding: 25px;
}
.container > .main > .body-stats
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: clamp(5px, 4dvw, 100px);
}  