.colories-burned
{
    height: 100%;
    aspect-ratio: 1 / 1;
}
.colories-burned .circle-diagram
{
    height: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
}
.colories-burned .circle-diagram > .numbers
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}